body {
    margin: 0;
    padding: 0;
    background: #efefef;
}

p {
    font-size: 20px;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    margin:10px;
    border: 1px solid #000;
}