body {
    margin: 0;
    padding: 0;
    background: #efefef;
}

p {
    font-size: 25px;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
    position: relative;
    display: inline-block;
    width: 20%;
    padding: 10px;
    margin:10px;
    border: 1px solid #000;
    text-align: center;
}